@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height 100% */
}

body {
    background-image: linear-gradient(to right, #572722, #b7684b);
}

main {
    background-color:white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(67, 29, 25, 0.5);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #592C28;
    text-align: center;
    text-shadow: 1px 1px 2px #592c2871;
}

h2 {
color: #A68C6D;
}

p {
    text-align: justify;
}